if SHIELD_POACHED_EGGS_LEFT

config ZMK_KEYBOARD_NAME
    default "Poached Eggs"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_POACHED_EGGS_LEFT || SHIELD_POACHED_EGGS_RIGHT

config ZMK_SPLIT
    default y

endif
